<!-- CONTENT HEADING -->
<% if (title) { %>

<% } else {
  res.redirect('/')
} %>

<!-- MESSAGE BLOCK -->
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- MANAGEMENT LINK DISPLAY -->
<h1>Account Management</h1>
<h2>Welcome <%- locals.accountData.account_firstname %></h2>
<h3>You are logged in!!</h3>

<!-- MANAGEMENT LINKS -->
<div class="account-links">

  <!-- Inventory management (ONLY EMPLOYEE + ADMIN) -->
  <% if (accountData.account_type === "Employee" || accountData.account_type === "Admin") { %>
    <p>
      <a href="/inv" class="inventory-link">
        Inventory Management
      </a>
    </p>
  <% } %>

  <!-- Account management (ONLY ADMIN) -->
<% if (accountData.account_type === "Admin") { %>
    <p>
      <a href="/account/manage" class="account-link">
        Account Management
      </a>    
    </p>
    <p>
      <a href="/account/changelog" class="account-link">
        Account Change Log
      </a>  
    </p>
  <% } %>

</div>