<!-- CONTENT HEADING -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- MESSAGE BLOCK -->
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Change password FORM -->
<div class="form-container">
  <form id="changePasswordForm" action="/account/change-password/<%= accountData.account_id %>" method="post">

      <p>Your current password will be changed!</p>
              
      <label for="account_password">New Password:</label>
      <input type="password" id="account_password" name="account_password" required />

      <label for="retype_account_password">Retype New Password:</label>
      <input type="password" id="retype_account_password" name="retype_account_password" required />
    
      <span class="hint-text">Password must be 12 characters or longer, contain 1 capital letter, 1 number and 1 special character</span>

      <div class="form-button">
        <button type="submit">Change Password</button>
      </div>

  </form>
</div>